 #wrapper {	width: 100%;	margin-left: auto;	margin-right: auto;	}	
    .accordionButton {		
                        width: 100%;	
                        float: left;	
                        _float: none;  
                       /* Float works in all browsers but IE6 */	
                       border:1px solid #999999;    
                       border-radius:10px;    
                       -moz-border-radius:10px;	
                       padding:5px;	
                       background-color:#e9e9e9;	
                       cursor: pointer;	
                       background-image:url(../../../../images/product_temp_arrowL.png);	
                       background-repeat:no-repeat;	}
    .accordionContent {		
        width: 100%;	
        float: left;	
        _float: none; 
        /* Float works in all browsers but IE6 */	
        background: #FFFFFF;	
    }
    .on {	
        background: #999999;	
        background-image:url(../../../../images/product_temp_arrowR.png);	
        background-repeat:no-repeat;	
    }
    .over {	
        background: #d7d7d7;	
        background-image:url(../../../../images/product_temp_arrowR.png);	
        background-repeat:no-repeat;	
    }		
    table.productInfo{	
        background:#FFFFFF;	
        padding-left:7px;	
        text-align:left;    
        border:1px solid #990000;    
        border-radius:10px;    
        -moz-border-radius:10px;	  
    }	  	  
    td.productInfo{    
        border:1px solid #999999;    
        border-radius:10px;    
        -moz-border-radius:10px;	
        padding:10px;	  
    }	  	   
    td.productdescheader{    
        border:1px solid #999999;    
        border-radius:10px;    
        -moz-border-radius:10px;	padding:10px;	
        background-color:#e9e9e9;	  
    }	  	  
    span.productName{	  
        font-family: Verdana, Arial, sans-serif;	  
        font-size:16px;	  
        font-weight:bold;	   
        text-align:left;	  
    }	  	  
    td.productPrice{	  
        font-family: Verdana, Arial, sans-serif;	  
        font-size:18px;	  
        color:#CC0000;	  
        font-weight:bold;	  
        text-align:left;
    }	  	  
    table.ProductInfoBox{	  
        background:#FFFFFF;	  
        text-align:left;	  
        padding:7px;	 
        border-radius:10px;      
        -moz-border-radius:10px;	  
    }	  	  
    childSection 	  {}      
    td.childHeading{ 	  
        border:1px solid #999999;      
        border-radius:5px;      
        -moz-border-radius:5px;	  
        padding:5px;	  
        background-color:#000000;	  
        color:#FFFFFF;	  
        font-size:12px;	  
        font-weight:bold;
    }      
    td.childTitle{	  
        color:#000000;	  
        font-size:12px;	  
        font-weight:bold;	  
        border:1px solid #999999;      
        border-radius:5px;      
        -moz-border-radius:5px;	  
        padding:2px;	  
        background-color:#e9e9e9;	  	  
    }      
    table.childAttributes{	
        border:1px solid #999999;    
        border-radius:5px;    
        -moz-border-radius:5px;	
        padding:10px;	  
    }      
    childButton	  {} 