/*
  $Id: stylesheet.css,v 1.56 2003/06/30 20:04:02 hpdl Exp $
*/
/*.boxText { font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; }*/
.boxText{font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; color:#000000; font-weight:bold; line-height:1.5em; text-align:left;}

p.cat a:hover{background-color: #323232;}

.boxText a:hover{background-color: #323232;color:#FFF;}

.boxText a{font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color:#000000;  font-weight: normal; line-height:2.5em; text-align: left;}
span.style1{ 
	color:#ffffff; 
	/*text-decoration:underline;*/
	font-size: 14px;
}
p.cat {
font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px; 
color:#000000; 
font-weight:none; 
line-height:1.5em; 
text-indent:-5px;
margin-left:5px;
margin-top:-7px;
margin-bottom:-7px;
margin-right:0px;
padding:0px;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('/fonts/PTS55F-webfont.eot');
    src: url('/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PTS55F-webfont.woff') format('woff'),
         url('/fonts/PTS55F-webfont.ttf') format('truetype'),
         url('/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sansbold';
    src: url('/fonts/PTS75F-webfont.eot');
    src: url('/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PTS75F-webfont.woff') format('woff'),
         url('/fonts/PTS75F-webfont.ttf') format('truetype'),
         url('/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



.errorBox { font-family :  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family :  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size : 10px; color: #5b523d ; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family :  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }
BODY {
  color: #000000;
  margin: 0px;
}
A {
  color: #000000;
  text-decoration: none;
}
A:hover {
  color: #000000;
  text-decoration: underline;
}
FORM {
	display: inline;
}
TR.header {
  background: #ffffff;
}
TR.headerNavigation {
  background: #bbc3d3;
}
TD.headerNavigation {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  background: #ffffff;
  color: #000000;
  font-weight : bold;
}
A.headerNavigation { 
  color: #000000; 
  font-weight:bold;
 font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  
}
A.headerNavigation:hover {
  color: #000000;
   font-weight:bold;
   font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}
TR.headerError {
  background: #5b523d;
}
TD.headerError {
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #5b523d;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}
TR.headerInfo {
  background: #00ff00;
}
TD.headerInfo {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
TR.footer {
  background: #ffffff;
}
TD.footer {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}
a.footer{
font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background: #ffffff;
  color: #000000;
  font-weight: bold;
   
  }
  a.footer:hover{font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}
.infoBox {
  background: #ffffff;
}
.infoBoxl {
  background: #c9c9c9;
}
.infoBox_text{
  background: #c9c9c9;
}

.infoBoxContents {
 
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
}

.infoLeftBoxContents {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  line-height:1.5em;
   text-align:left;
}
.infoLeftBoxContents a {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  line-height:1.5em;
   text-align:left;
}
.columnBox{background: #ffffff;}
.columnBoxContents{
	background: #E9E9E;
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;}
.infoBoxNotice {
  background: #FF8E90;
}
.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}
td.infoBoxHeadingLogin
{
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding:0px;
	text-align:center;
	background-image:url(../../../../images/template/infoboxbg.jpg)
}
TD.infoBoxHeading {
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	background: #323232;
	padding-left:5px;
	color: #ffffff;
	/*text-transform: uppercase;*/
}
TD.infoBox, SPAN.infoBox {
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #ffffff;
  
}
TR.productListing-odd{ background: #ffffff; border-bottom:1px solid #323232;}
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #ffffff;
}
TR.productListing-even{background: #ffffff; border-bottom:1px solid #323232;}
TABLE.productListing {
  border: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-spacing: 0px;
}
.productListing-heading {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  background: #323232;
  color: #FFFFFF;
  font-weight: bold;
}
TD.productListing-data {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 25%;
}
TD.productListing-data a {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 25%;
}
A.pageResults {
  color: #0000FF;
}
A.pageResults:hover {
  color: #0000FF;
  background: #FFFF33;
}
TD.pageHeading, DIV.pageHeading {
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
TR.subBar {
  background: #f4f7fd;
}
TD.subBar {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}
TD.main, P.main {
  font-family:  'Arial', "Helvetica Neue", Helvetica, PT Sans, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
  
}
TD.smallText, SPAN.smallText, P.smallText {
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  
  color:#000000;
}
TD.accountCategory {
  font-family:'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #aabbdd;
}
TD.fieldKey {
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
TD.fieldValue {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
TD.tableHeading {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
SPAN.newItemInCart {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #5b523d;
}
CHECKBOX, INPUT, RADIO, SELECT {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
TEXTAREA {
  width: 100%;
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}
SPAN.greetUser {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}
TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}
TD.formAreaTitle {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
SPAN.markProductOutOfStock {
  font-family:'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}
SPAN.productSpecialPrice {
  font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5b523d;
  font-weight: bold;
  font-size:larger;
}
SPAN.errorText {
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5b523d;
}
.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }
.checkoutBarFrom, .checkoutBarTo { font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; color: #000000; }
/* message box */
.messageBox { font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }
/* input requirement */
.inputRequirement { font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; color: #5b523d; }
A.subcatheader {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
}
A.accessoriesheader {
  font-size: 12px;
  font-weight: 900;
  color: #000000;
  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

A.viewallsubcat {
	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #336633;
	font-size: 11px;
	text-decoration: underline;
}
.subcatimages {
font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #ffffff;
font-size: 11px;
padding: 4px;
width:100%;
height:auto;
 max-width: 235px;
 max-height:275px;
  background-color: #ffffff; 

}

.productimages {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #336633;
font-size: 11px;
padding: 4px;

 max-width: 100%;
 height: auto;
}

/*this will allow different CSS rules for firefox*/
@-moz-document url-prefix() {
	.subcatimages {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #336633;
font-size: 11px;
padding: 4px;
 width: 100%;
 height: auto;
}
}
/*Firefox does not use the max-width css*/
/*internet explorer specific css */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .subcatimages {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #336633;
font-size: 11px;
padding: 4px;
 width: 135px;
 height: auto;
}
}
/*end IE*/
/*this will allow different CSS rules for firefox*/
@-moz-document url-prefix() {
.productimages {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #336633;
font-size: 11px;
padding: 4px;

 width: 350px;
 height: auto;
}
}
/*Firefox does not use the max-width css*/
/*neither does IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.productimages {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #336633;
font-size: 11px;
padding: 4px;

 width: 350px;
 height: auto;
}
}
/*end IE*/
.subcatimages a{
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #336633;
	font-size: 11px;
}
.subcat{ 
  background:#ffffff;
  text-align:center;
}
.assessories{ 
  border: 1px solid #333333;

}
.cat_title {
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background: #323232;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding: 1px;
}
.cat_title a {
	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color: #FFFFFF;
	font-size: 11px; 
	font-weight: bold; 
	text-decoration: underline;
	}
	
.cat_list {
	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000000;
	font-size: 11px;
	font-weight:bold;
}
a.cat_list {
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*color: #336633;*/
	color:#000000;
	font-size: 11px;
	font-weight: bold; 
	/*text-transform:capitalize;*/
	text-decoration: underline;
}
   .maincat_title h1 {
   	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0px ;
	background: #FFFFFF;
	color: #000000 ;
	padding-left: 10px;
	padding-top: 2px;
	/*padding-bottom: 2px;*/
    padding-bottom: 10px;
	font-size:36px; font-weight:700;
	height: 36px;
	margin: 0px;
}
    h1 {
   	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 14px; 
	font-weight: bold; 
	height: 18px;
	margin: 0px;
}
.mainpage_cat {
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000000;
	background: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border: 1px solid #5b523d;
}
.mainpage_cat a {
	font-family:'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; 
	/*color: #7C8894;*/
	color:#000000;
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none;
	padding-left: 5px;
	border: 0;
	}
	
.mainpage_catimage {
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#7C8894;
	background: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border: 1px solid #79838F;
}
.mainpage_catimage a{
	padding: 0px;
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#7C8894;
	background: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border: 0;
}
.mainpagecat_list {
	font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 11px
}
a.mainpagecat_list {
	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 11px;
	font-weight:bold;
	/*text-transform:capitalize;*/
	text-decoration: underline;
}	
td.description {
	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    border:2px solid #323232;
    padding:5px;
}
td.xcell{
		border:2px solid #e9e9e9;
		background:#FFFFFF;
		  text-align:left;
		}
td.xcellImage{
		}		
table.xcell{
		background:#e9e9e9;
		padding:7px;
		  text-align:left;
}
a.xcell{font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 10px;
		color:#515453;
		  text-align:left;
	}
a.xcell:hover{
	font-family:  'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
	color:#515453;
	  text-align:left;}	
	td.xcellPrice{color:#ffffff;font-weight:bold;}
	
	ul.productOption{
	margin:0px;
	padding-left:0px;
	text-align:left;
	/*list-style:url(../images/template/ul_circle.gif) inside;*/
	vertical-align:middle;
	list-style-type:disc;
	list-style-position:inside;
	}
	li.productOption{padding-left:3px;}
	table.productInfo{
	border:2px solid #323232;
	 background:#e9e9e9;
	  padding-left:7px;
	    text-align:left;
	  }
	  span.productName{
	  font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size:18px;
	  font-weight:bold;
	   text-align:left;
	  }
	  td.productPrice{font-family: PTS55F,  PTS75F, pt sans, 'pt_sansregular' ,'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size:14px;
	  font-weight:bold;
	  text-align:left;}
	  table.ProductInfoBox{background:#e9e9e9;
	  text-align:left;
	  padding:7px;
	  }
	td.setSize {width:150px;}
	.BoxH{height:230px;}

	/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0; font-size:18px; font-weight:bold; color:#FFFFFF;}
#container{
	max-width:980px;
	margin:0 auto;
	padding-bottom:0px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 0px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#333333;
	color:#e9e9e9;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(0,0,0,0.7);
}

.BoxH {
    
}
.infoBoxl.BoxH {
    background: #c9c9c9 none repeat scroll 0 0;height: 230px;border-top:1px solid #B4B4B4;
}

TD.smallText, SPAN.smallText, P.smallText {
    color: #000000;
    font-family: PTS55F,PTS75F,pt sans,"pt_sansregular","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px !important;
}
.main.rating_text_color a {
    color: #000 !important;
}
.image_progress_bar img{max-width:154px;max-height:33px;}
tr td .infoBoxHeading{line-height:41px;font-size:18px;}
.btn_img > img{max-width: 121px !important;}

.Reviewer_Nickname {
    float: left;
}

.Rating_star {
   float: left;
 
}
.Review_Title {
    float: left;
}
.textarea_box {
    float: left;
}

.textarea_box textarea {
    height: 250px;
    margin-left: 84px;
    width: 667px;
}
.inputTextBox > input {
    margin-left: 33px;
}

.main.inputTextBox_review > input {
    margin-left: 79px;
}
.main.inputTextBox_star img {
    left: 108px;
    position: relative;
}
.add_to_cart_box .smallText {
    
    position: relative;
    bottom:250px;}
	
.Order.Confirmation{ width: 300px;}
.compareListing-data{border: 1px solid #d3d3d3;padding: 10px;}
.productListing-heading{border: 1px solid #d3d3d3;font-size: 13px !important;background:#fff !important;padding: 10px;}
/*28.12.2015 Emm*/

.headingContentBox{background-color:#c9c9c9;}
.columnBoxContents .infoBoxContents{background:none !important;}


.infoBoxHeading.infoBoxHeadingLogin{  background-image: url("../../../../images/template/infoboxbg.jpg");
    color: #ffffff;
    font-family: PTS55F,PTS75F,pt sans,"pt_sansregular","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	line-height:21px !important;
}

/*End*/

/*30122015*/

.productsHeading{color:#000;border:none;padding:4px;}

.copun_box{background-color: #c9c9c9;}
#vote{margin-left: 105px;
    vertical-align: middle;}
/*end*/
/*12012016*/
.margin.new_heading_add{display:none;}

.cat a{color:#fff;}
/*end*/

/*12012016*/

.Price_heading div {
    border-bottom: 0px solid #dadada !important;
    margin: 0;
    max-height: 150px !important;
    min-height: 0;
    overflow-x: auto;
}
.Price_heading {
      color: #fff;
	  background:none !important;
	  border: 0px solid #dadada !important;
}
.Price_heading h4{border-width:0px !important;font-size:15px !important;}

/*end*/