
/*Styling for featured_product_custom_table */

.featured_product_custom_table{
	
border-collapse: collapse;
    border-spacing: 0;
	padding: 0;
}

/*End featured products custom table */


/*Product page css*/
.contentContainer {
    padding-bottom: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: arial;
    font-size: 12px;
    color: #333333;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.prod_info_name {
	float:left;
	width:100%;
}


div {
    display: block;
}

.contentText, .contentText table {
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}

.product_page {
    margin-bottom: 20px;
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

@media only screen and (max-width: 959px) and (min-width: 768px)
.container .six.columns {
    width: 268px;
}

.container .six.columns {
    width: 340px;
}
@media only screen and (max-width: 1200px) and (min-width: 960px)
.container .six.columns {
    width: 340px;
}

@media only screen and (max-width: 959px) and (min-width: 768px)
.column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
}


.five{
	float:left;
	width:50%;
}

@media screen and (max-width: 699px) {
    .five{
		margin-top:5%;
	float:left;
	width:100%;
}
}

.columns.alpha {
    margin-left: 0;
	margin-right: 0;
	width:100%;
}

.container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.alpha {
    margin-left: 0;
}
.cloudzoom_gallery .gallery_bigimg {
    margin-bottom: 5px;
   /* border: 1px solid #D7D7D7;*/
}

.gallery_note {
    text-transform: uppercase;
    padding: 15px 0px 18px 0px;
    text-align: center;
}
.cloudzoom_gallery .gallery_smallimg_wrapper {
    margin-right: -5px;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.cloudzoom_gallery .gallery_smallimg {
    float: left;
    margin: 0px 5px 5px 0px;
    overflow: hidden;
}

.cloudzoom_gallery .gallery_smallimg img {
    width: 88px;
    height: auto;
    border: 1px solid #D7D7D7;
	outline:none;
}

.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after, .container_24:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
@media only screen and (min-width: 1200px)
.container .five.columns {
    width: 355px;
}
.container .five.columns {
    width: 280px;
}
@media only screen and (min-width: 1200px)
.container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px;
}
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (min-width: 1200px)
.container .five.columns {
    width: 355px;
}
.container .five.columns {
    width: 280px;
}
@media only screen and (min-width: 1200px)
.container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px;
}
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.prod_info_name h1, .prod_info_price h1 {
    background: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}

SPAN.smallText{
    font-size: 15px !important;
}
SPAN.smallText {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
	    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*.product_description {
    margin-bottom: 20px;
}*/
.product_description ul{
	list-style: none outside;
	padding-right:20%;
}
.product_description ul li{
list-style: none outside;
}

.contentText table {
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
	border-spacing: 0;
}
.contentText table tr{
	    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.contentText table td{
	    display: table-cell;
    vertical-align: inherit;
}
.socials_plugins {
    overflow: hidden;
    margin-bottom: 15px;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
.socials_plugins .google {
    float: left;
    width: 80px;
    clear: both;
}
script {
    display: none;
}
.kv8eNc {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}

.dIa {
    float: left;
    white-space: nowrap;
}
.Ina {
    cursor: pointer;
    display: block;
    outline: 0;
    position: relative;
    text-decoration: none;
}
.HP, .HP:hover, .HP:active {
    color: #db4437;
}
.FP {
    border: 1px solid #d5d5d5;
    border: 1px solid rgba(0,0,0,.17);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.Ul {
    height: 100%;
    width: 100%;
}


.uzlpSb {
    fill: #db4437;
}
.u7 {
    display: block;
}
* {
    transform-origin: 0px 0px 0px;
}
.Ina {
    cursor: pointer;
    display: block;
    outline: 0;
    position: relative;
    text-decoration: none;
}
.q7, .GP {
    display: none;
    height: 100%;
    width: 100%;
}

.iva {
    margin-left: auto;
    margin-right: auto;
}
.u7 {
    display: block;
}
.zVaWQ {
    -webkit-animation: ozWidgetRioButtonWorkingIconPathSpinKeyframes 2s infinite linear;
    animation: ozWidgetRioButtonWorkingIconPathSpinKeyframes 2s infinite linear;
    -webkit-transform-origin: 7px 7px;
    transform-origin: 7px 7px;
}
.hva, .iva {
    margin-left: auto;
    margin-right: auto;
}
.u7 {
    display: block;
}

.ap, .bp {
    margin-left: 5px;
}
.Jp, .bp, .ap {
    float: left;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.ap:before, .bp:before {
    border-color: rgba(192,192,192,0);
    border-right-color: #ccc;
    border-width: 5px;
    margin-top: -5px;
}

.bp .HI {
    max-width: 53px;
    min-width: 10px;
}
.HI {
    float: left;
    position: relative;
}
.bp .Oy {
    font-size: 11px;
    margin: 1px 6px;
    height: 16px;
    line-height: 17px;
}
.ap:after, .bp:after {
    border-color: rgba(255,255,255,0);
    border-right-color: #fff;
    border-width: 4px;
    margin-top: -4px;
}
.ap:after, .ap:before, .bp:after, .bp:before, .Jp:after, .Jp:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.socials_plugins .facebook {
    float: left;
    width: 90px;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.fb-like, .fb-like span, .fb-like.fb_iframe_widget span iframe, .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}

.fb_iframe_widget iframe {
    position: absolute;
}
.socials_plugins .twitter {
    float: left;
}
.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after, .container_24:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
.buttonSet{
    padding-bottom: 12px;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.dresscode_button, .dresscode_submit {
	
	width:75% !important;
    background: #a60707;
    color: #fff;
    /*border: 2px solid #eee;*/
    min-height: 14px;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 16px;
    text-transform: uppercase;
    padding: 7px 7px 6px 7px;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    float: left;
    margin-top: 10px;
	margin-left:0px;
	margin-right:0px;
    font-weight: normal !important;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  /*  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
    /*-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);*/
}

.buttonAction a, .buttonAction a:visited, .buttonAction a:link {
	color:#FFFFFF !important;
}


.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after, .container_24:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
@media only screen and (min-width: 1200px)
.container .five.columns {
    width: 355px;
}
.container .five.columns {
    width: 280px;
}
@media only screen and (min-width: 1200px)
.column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
}
@media only screen and (min-width: 1200px)
.container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px;
}
.column.omega, .columns.omega {
    margin-right: 0;
}
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.omega {
    margin-right: 0;
}

.custom_block {
    border: 1px solid #a60707;
    width: 100%;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background:#efefef;
}
.custom_block .inside {
    padding-top: 5px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:0px;
    text-transform: uppercase;
	text-align:right;
}
.custom_block p {
    margin: 0 0 15px 0;
}
.contentText table {
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}

.dresscode_product_custom_block_title {
    font-size: 26px;
    line-height: 28px;
    margin: 0 0 15px;
    padding: 5px 0 0;
}
INPUT {
   /* margin-right: 8px;*/
}
user agent stylesheetinput[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}
user agent stylesheetinput[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
user agent stylesheetinput[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
user agent stylesheetinput {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}
user agent stylesheetinput, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.buttonAction {
   /* padding-bottom: 12px;*/

}
.f_left {
    float: left;
	width:75%;
}

	
.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after, .container_24:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after, .container_24:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 .product_info_page_central {
    margin-top: 22px;
}




/*End product page css*/









/*.productListing-data img is added code for themes that dont have white background*/

.productListing-data img{

	background-color:#FFFFFF;

}

/*End added code for theme*/



.columnBoxContents{

	color:#000000;

}







#mj-maincontent table td {







  border-bottom:  none;



border: none !important;



}







.mj-categoriessidebox br {







  display: none;







}







.mj-categoriessidebox .cat {







  padding-left: 11px;







}







.mj-product td[valign="top"] {







  border-top: 0px dashed #666666;







}







.mj-product td[valign="top"] tr {







  display: table-cell;







}







.mj-product td[valign="top"] tr:last-child {







  display: none;







}







.mj-product td[valign="top"] tr td b {







  font-size: 15px;







  text-transform: capitalize;







}







.mj-bestsellersbox td.infoBoxContents[valign="top"] {







  padding-left: 10px;







}







.mj-bestsellersbox td.infoBoxContents[valign="top"] + td {







  padding-bottom: 7px;







  padding-left: 10px;







}







.mj-bestsellersbox td.infoBoxContents[valign="top"] + td a {







  color: #404040  !important;







  font-size: 14px !important;







  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;







}







#mj-languagebar .ui-widget-content {







  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);







  border: none;







}







#mj-languagebar .ui-widget-content table tr:first-child {







  display: none;







}







div.mj-reviewbox td.boxText,







.mj-cartbox td.boxText {







  padding: 0 5px 0 10px;







}







td.category_cell > table.categoryListBoxContents.subproduct_name {







  border: 0px solid  #d9d9d9;







}







td.category_cell > table.categoryListBoxContents.subproduct_name.onlycat {







  height: 230px;







  min-height: 230px;



  



  width: 90%;







}







td.category_cell > table.categoryListBoxContents.subproduct_name tr {







  height: auto;







}







td.category_cell > table.categoryListBoxContents.subproduct_name td {







  width: 33%;







  text-align: center;







  vertical-align: top;







}







td.category_cell > table.categoryListBoxContents.subproduct_name img {







  margin-bottom: 10;



  margin-top: 10px;



   max-width: 75%;



  min-width: 50%;}







table.categoryListBoxContents.subproduct_name {







  border: 0px solid  #d9d9d9;







 height: 380px;

 

 padding-top:5%;



 



 background-color:#efefef;







}







body.checkout #mj-contentarea h2.margin {







  background: url("ext/images/plus-minus.png") no-repeat scroll 5px -88px #a60707 !important;







  padding: 2px 0 2px 40px !important;







  border-bottom: 0px solid  #cac9c9;







  font-size: 16px;







  color: #ffffff;







  height: 32px;







  line-height: 34px;







}







body.checkout #mj-contentarea h2.margin + table {







  background: none repeat scroll 0 0 #e3e5e7;







  border: 0px solid  #d6d6d6;







  padding: 10px;







}







body.checkout #mj-contentarea h2.margin + table td {







  font-family: PT Sans, sans-serif;







  font-size: 14px;







  color: #404040;







}







body.checkout #mj-contentarea h2.margin + table textarea {







  background: #fff;







  border: 0px solid  #d2d2d2;







  box-shadow: 0 0 3px #c0c0c0 inset;







  color: #666666;







}







body.index div#mj-slidetitle {







  display: none;







}







body.index .centerBoxContentsNew.centeredContent {







  height: 314px;







  max-height: 314px;







  max-width: 300px;







  width: 200px;







  overflow: hidden;







}







body.index .imagename {







  height: 175px;







}







div#mj-footer .subcatimages {







  width: 64px;







  max-width: 64px;







  min-width: 64px;







}







body.create_account div#mj-contentarea td.infoBoxHeadingLogin {







  background: url("ext/images/plus-minus.png") no-repeat scroll 5px -88px #a60707 !important;







  border-bottom: 0px solid  #cac9c9;







  font-size: 16px;







  margin: 0 0 10px;







  padding: 0 0 5px 40px !important;







  color: #ffffff;







  line-height: 35px;







}







body.create_account div#mj-contentarea td[background="images/template/infoboxbg.jpg"] {







  display: none;







}







body.create_account div#mj-contentarea > form > table > tbody > tr:nth-child(3) > td {







  background: none repeat scroll 0 0 #e3e5e7;







  border-top: 10px solid #fff;







}







body.create_account div#mj-contentarea > form > table > tbody > tr:nth-child(3) > td table {







  padding: 5px;







}







body.login #mj-maincontent table.logintable tr#onepagecheckout > td {







  border: 0px solid  #d2d2d2;







}







body.login #mj-maincontent table.logintable #tr1 td {







  padding: 15px 0 0 15px;







  border-top: 0px solid  #d2d2d2;







}







body.login #mj-maincontent table.logintable #tr1 td:first-child {







  border-left: 0px solid  #d2d2d2;







  border-right: 0px solid  #d2d2d2;







}







body.login #mj-maincontent table.logintable #tr1 td:last-child {







  border-left: 0px solid  #d2d2d2;







  border-right: 0px solid  #d2d2d2;







}







body.login #mj-maincontent table.logintable #tr1 td b {







  border-bottom: 0px solid  #d9d9d9;







  font-size: 16px;







  font-family: 'Black Ops One', Allerta Stencil, Stardos Stencil, Oswald, Special Elite, sans-serif; 



		







  text-transform: uppercase;







  padding-right: 200px;







}







body.login #mj-maincontent table.logintable #tr2 > td {







  line-height: 25px;







  padding: 0 15px;







  border-bottom: 0px solid  #d2d2d2;







  border-left: 0px solid  #d2d2d2;







  border-right: 0px solid  #d2d2d2;







}







body.product_info {







  /*#mj-maincontent > .mj-subcontainer{







        @media (min-width:900px) {







            width: auto;







        }







    }*/







}







body.product_info .shareText {







  color: #a60707;







  font-size: 14px;







}







body.product_info div.mj-product_inforight .cart_info {







  max-width: 440px;







}







body.product_info div.mj-product_inforight #attribute_title {







  float: left;







}







body.product_info div.mj-product_inforight #attribute_value {







  float: left;







  margin-left: 0px;







  margin-top: 15px;







}







body.product_info div.mj-product_inforight #attribute_value select{







    float: left;







    margin-right: 10px;







}







body.product_info div.mj-product_inforight #attribute_value select#attribute:not(:first-child) {







  display: block;







}







body.product_info div.mj-product_inforight div.priceClassId span:after {







  content: 'a';







  white-space: pre;







}







body.product_info #proimg {







  float: left;







  text-align: center;







  width: 400px;







}







body.product_info div#mj-right p.moduleHeader {







border-style: none none none;







  border-width: 0px;







  font-family: 'Black Ops One', Allerta Stencil, Stardos Stencil, Oswald, Special Elite, sans-serif; 



		

border-radius: 10px 10px 0px 0px;





  font-size: 16px;







  font-weight: normal;







  padding: 10px;







  text-transform: uppercase;



  



  color:#ffffff;



  



  background-color:#000000;







}







/*body.product_info div#mj-right p.moduleHeader {







  background: url("/includes/sts_templates/full/template12/ext/images/sidebox-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);







  border-color: -moz-use-text-color -moz-use-text-color #d9d9d9;







  border-style: none none solid;







  border-width: medium medium 1px;







  font-family: 'Black Ops One', Allerta Stencil, Stardos Stencil, Oswald, Special Elite, sans-serif; 



		







  font-size: 16px;







  font-weight: normal;







  padding: 10px;







  text-transform: uppercase;







}*/







body.product_info div#mj-right p.moduleHeader + table {







  text-align: center;







}







body.product_info div#mj-right p.moduleHeader + table table {







  width: 100%;







}







div#mj-contentarea td.pageHeading {







  border-bottom: 0px solid  #e9e8e8;







  margin-bottom: 10px;







  padding-bottom: 14px;







  padding-top: 5px;







  font-size: 30px;







  font-weight: normal;







  line-height: 25px;







 font-family: 'Unica One', cursive;



		







  text-transform: uppercase;







}







body.shopping_cart div#mj-contentarea table.productListing.productListingTpl2 td.infoBoxHeading {







  border-bottom: 3px solid #666666;







  color: #ffffff;







  font-family: 'Black Ops One', Allerta Stencil, Stardos Stencil, Oswald, Special Elite, sans-serif; 



		







  font-size: 16px;







  padding: 5px 6px;







  text-align: center;







  text-shadow: 0 0 0;







  background-color: #a60707;







  float: none;







}







body.shopping_cart div#mj-contentarea table.productListing.productListingTpl2 td.infoBoxHeading:first-child {







  width: 300px;







}







body.shopping_cart div#mj-contentarea table.productListing.productListingTpl2 tr.productListing-tr {







  float: none;







}







body.shopping_cart div#mj-contentarea table.productListing.productListingTpl2 td.productListing-data {







  float: none;







  width: auto;







  vertical-align: middle;

  

text-align: center !important;





}







body.shopping_cart div#mj-contentarea table.productListing.productListingTpl2 td.productListing-data td.productListing-data {







  display: table-header-group;







}







body {







  /*&.checkout_success{







        div#mj-contentarea > form > table table table{







            display:none;







        }







    }*/



border: 0px solid #ffffff;



}







body:not(.checkout):not(.login):not(.password_forgotten):not(.address_book):not(.account_history):not(.my_points_help) div#mj-contentarea td.main b {







  /*border-bottom: 0px solid  #d2d2d2;*/







     font-family: 'Unica One', cursive;

		







  font-size: 16px;







  font-weight: normal;







  margin: 0 0 9px;







  padding-bottom: 9px;







  text-transform: uppercase;







  color: #a60707;







}







body.address_book div#mj-contentarea > table > tbody > tr > td.main {







  border-bottom: 0px solid  #d2d2d2;







  font-family: 'Black Ops One', Allerta Stencil, Stardos Stencil, Oswald, Special Elite, sans-serif; 



		







  font-size: 16px;







  font-weight: normal;







  margin: 0 0 9px;







  padding-bottom: 9px;







  text-transform: uppercase;







  color: #a60707;







}







body.create_account_success img[src$="table_background_man_on_board.gif"] {







  display: none;







}







body.create_account_success td.pageHeading {







  text-align: left;







}







body.account div#mj-contentarea img[src$="pixel_trans.gif"] {







  display: none;







}







body.account div#mj-contentarea > table {







  border: 0px solid  #cac9c9;







  border-spacing: 15px;







  border-radius: 4px;







}







body.account div#mj-contentarea > table td.infoBoxHeading {







  border-bottom: 0px solid  #d2d2d2;







  font-family: 'Black Ops One', Allerta Stencil, Stardos Stencil, Oswald, Special Elite, sans-serif; 



		







  font-size: 16px;







  font-weight: normal;







  margin: 0 0 9px;







  padding-bottom: 9px;







  text-transform: uppercase;







  color: #a60707;







}







body.account div#mj-contentarea > table table.infoBox {







  border: 0px solid  #cac9c9;







  border-spacing: 15px;







  border-radius: 4px;







}







body.account_edit div#mj-contentarea form > table,







body.account_password div#mj-contentarea form > table,







body.account_newsletters div#mj-contentarea form > table,







body.account_notifications div#mj-contentarea form > table {







  border: 0px solid  #cac9c9;







  border-spacing: 15px;







  border-radius: 4px;







}







body.account_notifications .infoBoxContents > td > table {







  border: 0px solid  #cac9c9;







  border-spacing: 15px;







  border-radius: 4px;







}







body.address_book div#mj-contentarea > table,







body.account_history div#mj-contentarea > table,







body.my_points div#mj-contentarea > table,







body.my_points_help div#mj-contentarea > table {







  border: 0px solid  #cac9c9;







  border-spacing: 15px;







  border-radius: 4px;







}







.infoBoxHeadingLoginl > img, .infoBoxHeadingLogin2 > img {







    display: none;







}







.infoBoxHeadingLoginl, .infoBoxHeadingLogin2{







    background-image: none !important;







}









