/* General styles for all menus */
.mobile-spmenu {
	background: rgba(255, 255, 255, 0.95) !important;
	position: fixed;
}
.mobile-spmenu h3 {
	background: rgba(255, 255, 255, 0.95);
    color: rgba(102, 102, 102, 0.85);
    /*font-size: 0.8em;*/
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
	margin-top:0px;
	 font-family: "Lato",sans-serif;
}
.sticky-jump .nav a{background: rgba(255, 255, 255, 0.95) !important;
    color: rgba(102, 102, 102, 0.85) !important;
	
	 font-family: "Lato",sans-serif !important;
	 }
.mobile-spmenu a {
	 font-family: "Lato",sans-serif;
	box-sizing: border-box;
    color: rgba(102, 102, 102, 0.85) !important;
    display: block !important;
    font-size:12px !important;
    font-weight: normal !important;
    padding: 20px 15px !important;
}
/* Orientation-dependent styles for the content of the menu */
.mobile-spmenu-vertical {
	max-width: 240px ;
	width:100% !important;
	max-width:
	height: 100%;
	/*top: 0;*/
	z-index: 1000;
}
ul.nav-child.unstyled{box-shadow: 0 0 !important;}

.mobile-spmenu-vertical a {
	border-bottom: 1px solid #ccc;
	width:100%;
	margin-right:0% !important;
	padding: 1.14em !important;
}
.mobile-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.mobile-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}
.mobile-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */
.mobile-spmenu-left {
/*	left: -240px;*/
}
.mobile-spmenu-right {
/*	right: -240px;*/
}
/*.mobile-spmenu-left.mobile-spmenu-open {
	left: 0px;
}*/
.mobile-spmenu-right.mobile-spmenu-open {
	right: 0px;
}
/* Horizontal menu that slides from the top or bottom */
.mobile-spmenu-top {
	top: -150px;
}
.mobile-spmenu-bottom {
	bottom: -150px;
}
.mobile-spmenu-top.mobile-spmenu-open {
	top: 0px;
}
.mobile-spmenu-bottom.mobile-spmenu-open {
	bottom: 0px;
}
/* Push classes applied to the body */
.side-menu-mobile {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
/*.side-menu-mobile-toright {
	left: 240px;
}
.side-menu-mobile-toleft {
	left: -240px;
}*/
/* Transitions */
.mobile-spmenu,
.side-menu-mobile {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* Example media queries */
@media screen and (max-width: 55.1875em){
	.mobile-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}
/*	#slide-mobile-menu{
		top: 0px;
	}
*/	#slide-mobile-menu {
		
	}
}
@media screen and (max-height: 26.375em){
	.mobile-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
/*	.mobile-spmenu-left,
	.side-menu-mobile-toleft {
		left:-250px;
	}*/
	.mobile-spmenu-right {
		/*right:-250px;*/
	}
	.side-menu-mobile-toright {
		/*left: 250px;*/
	}
	
}
.mobile-spmenu-vertical {
		font-size: 90%;
		width: 190px;
		visibility:hidden;
	}

#slide-mobile-menu li .fa.fa-angle-down{font-size:28px;}
#slide-mobile-menu li .fa.fa-angle-up{font-size:28px;}