/* Tab Content - menucool.com */

.mj-productinfo .mj_prodinfo_tabcontent ul.tabs
{
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}

.mj-productinfo span.title {
    border-bottom: medium none;
    margin: 0;
    padding: 0;
}
.mj-productinfo ul.tabs li a
{
	height:auto;
	}
.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 5px 16px;
    /*border-top: 0px solid #446084;
    border-top-color:#446084;*/
    color: #000;
    /*background: url("../images/sidebox-bg.png") repeat-x scroll 0 0 hsla(0, 0%, 0%, 0);*/
    border-radius:0px;
    outline:none;
}
        
.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li a:visited
{
    color: #000;
}
        
.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li a:hover
{
 border-top: 3px solid #446084;

}


/*.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li a::before
 {background-color: #446084;
    content: " ";
    height: 3px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;
    width: 100%;}
*/
        
.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li.selected a, .mj-productinfo .mj_prodinfo_tabcontent ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border-top: 3px solid #446084;
    border-bottom-color: #446084;
}
      
ul.tabs li a .title{color:rgba(102, 102, 102, 0.85);font-family: "Lato",sans-serif;
    font-weight: 700;}
ul.tabs li.selected a .title{ color: rgba(17, 17, 17, 0.85) !important;font-family: "Lato",sans-serif;
    font-weight: 700;}
	    
        
.mj-productinfo .mj_prodinfo_tabcontent ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     


.mj-productinfo .mj_prodinfo_tabcontent div.tabcontents {
    background-color: hsl(0, 0%, 100%);
    border: 0px solid hsl(0, 0%, 72%);
    border-radius: 0 3px 3px;
    padding: 2%;
    width: 100%;
	margin-top:-1px;
}

.mj-productinfo .mj_prodinfo_tabcontent {
	border-top:1px solid #ececec;
    display: inline-block;
    float: left;
    width: 100%;
	margin-top:50px
}